<?xml version="1.0" encoding="utf-8"?>
<app type="complex" access="777">
  <version type="unsignedInt" length="4">16</version>
  <os_version type="hexBinary" length="8">000500101000400A</os_version>
  <title_version type="hexBinary" length="8">0001000000000000</title_version>
  <sdk_version type="unsignedInt" length="4">21111</sdk_version>
  <group_id type="hexBinary" length="4">00001000</group_id>
</app>
